<ion-view view-title="Home">
	<ion-nav-bar class="bar-dark">
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
	<ion-content>
		<div class="list">
			<label class="item item-input">
				<span class="input-label">Expense</span>
				<input type="text">
			</label>

			<label class="item">
				<button class="button button-block button-positive" type="submit">Save</button>
			</label>
		</div>
	</ion-content>
</ion-view>